.content {
  &__header {
    @media (min-width: $laptopScreen) {
      display: flex;
      justify-content: space-between;
      margin-top: 21px;
    }
  }

  &__request {
    display: none;

    @media (min-width: $laptopScreen) {
      display: flex;
      align-items: center;
      margin-right: 32px;
      column-gap: 32px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    font-family: $font-family--medium;
    font-size: 16px;
    color: #1B1C21;
    column-gap: 8px;
  }

  &__title {
    margin-bottom: 24px;
    margin-left: 16px;
    @media (min-width: $tabletScreen) {
      margin-left: 24px;
    }
    @media (min-width: $laptopScreen) {
      margin-left: 32px;
    }

    &:before {
      content: "";
      position: relative;
      right: 18px;
      border-left: 5px solid #41F6D7;
      border-radius: 6px;
      @media (min-width: $tabletScreen) {
        right: 26px;
      }
      @media (min-width: $laptopScreen) {
        right: 34px;
      }
    }
  }

  &__text-container {
    font-family: $font-family--regular;
    font-size: 14px;
    color: #1B1C21;
    margin-left: 16px;
    margin-right: 16px;
    letter-spacing: 0.2px;
    overflow: hidden;
    height: 98px;
    @media (min-width: $tabletScreen) {
      margin-left: 24px;
      height: 140px;
    }
    @media (min-width: $laptopScreen) {
      margin-left: 32px;
    }

    &--show {
      height: 100%;
    }

  }

  &__read-more {
    margin-top: 16px;
    margin-left: 24px;
    margin-bottom: 16px;
    @media (min-width: $tabletScreen) {
      margin-left: 33px;
    }
    @media (min-width: $laptopScreen) {
      margin-left: 40px;
    }
  }

  &__wrapper {
    @media (min-width: $tabletScreen) {
      display: flex;
      align-items: flex-start;
    }
  }

  &__image {
    @media (min-width: $tabletScreen) {
      width: 360px;
      border-radius: 6px;
      margin-right: 24px;
    }
    @media (min-width: $laptopScreen) {
      width: 530px;
    }
  }

  &__text {

  }
}
