.email{
  font-family: $font-family--medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  text-decoration: none;
  position: relative;

  &::after {
    content: "";
    width: 105px;
    height: 1px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #7E7E82;
    transform: scale(0);
    transition: transform 500ms;
  }

  &:hover::after {
    transform: scale(1);
  }
}
