.header {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  height: 88px;
  justify-content: space-between;
  box-shadow: 0px 1px #D9FFF5;
  padding: 0 16px 0 16px;

  @media (min-width: $tabletScreen) {
    padding: 0 24px 0 24px;
  }
  @media (min-width: $laptopScreen) {
    display: none;
  }

  &__logo {
    margin-right: auto;
    margin-left: 16px;
    position: relative;
    @media (min-width: $tabletScreen) {
      margin-left: 40px;
      ::before {
        content: '';
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        position: absolute;
        left: -20px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 1px;
      }
    }
  }

  &__request {
    display: flex;
    width: 96px;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &::before {
      content: '';
      width: 2px;
      height: 32px;
      background-color: #EAEAEA;
      position: absolute;
      left: -20px;
      border-radius: 1px;
    }
  }

  &__feedback {
    margin-right: 36px;
    display: none;

    @media (min-width: $tabletScreen) {
      display: flex;
    }
  }
}
