.price-table {
  display: none;
  font-family: $font-family--regular;
  font-size: 14px;
  @media (min-width: $tabletScreen) {
    display: block;
  }

  &__header {
    background-image: linear-gradient(to right, #F8F8F8 0%, #FFFFFF 100%);
    border-top: 1px solid #D9FFF5;
    margin-top: 16px;
    margin-bottom: 31px;
  }

  &__title {
    Font-family: $font-family--regular;
    Font-size: 16px;
    Line-height: 24px;
    Letter-spacing: -0.2px;
    color: #7E7E82;
    text-transform: uppercase;
    padding-top: 16px;
    padding-left: 24px;
    padding-bottom: 16px;

    @media (min-width: $laptopScreen) {
      padding-left: 32px;
    }
  }

  &__table {
    display: flex;
    height: 324px;
    border-radius: 6px;
    background-color: #FFFFFF;
    margin-left: 24px;
    margin-bottom: 24px;
    margin-right: 24px;
    flex-wrap: wrap;
    @media (min-width: $desktopScreen) {
      margin-left: 32px;
      margin-right: 32px;
    }
  }

  &__link {
    box-sizing: border-box;
    width: 119px;
    height: 32px;
    border-radius: 16px;
    background-color: #FF3E79;
    text-decoration: none;
    color: #FFFFFF;
    font-family: $font-family--bold;
    font-size: 12px;
    text-transform: uppercase;
    /*line-height: 32px;*/
    /*padding-left: 12px;*/
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: transform 200ms;
    @media (min-width: $laptopScreen) {
      &:hover {
        transform: scale(1.2);
      }

    }
  }

  &__row {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
    @media (min-width: $desktopScreen) {
      margin-left: 24px;
      margin-right: 24px;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #EAEAEA;
    }
  }

  &__services {
    flex-basis: 380px;
    @media (min-width: $desktopScreen) {
      flex-basis: 480px;
    }
  }

  &__price {
    flex-basis: 72px;
    @media (min-width: $desktopScreen) {
      flex-basis: 190px;
    }
  }

  &__time {
    flex-grow: 1;
    padding-left: 22px;
  }

  &__table-header {
    display: flex;
    margin-left: 40px;
    margin-bottom: 16px;
    color: #7E7E82;
    font-family: $font-family--medium;
    @media (min-width: $desktopScreen) {
      margin-left: 56px;
    }
  }

}


