.section-header {
  background-image: linear-gradient(to right, #F8F8F8 0%, #FFFFFF 100%);
  border-top: 1px solid #D9FFF5;
  Font-family: $font-family--regular;
  Font-size: 16px;
  Line-height: 24px;
  Letter-spacing: -0.2px;
  font-weight: normal;
  color: #7E7E82;
  text-transform: uppercase;
  padding: 16px;
  @media (min-width: $tabletScreen) {
    padding-left: 24px;
  }
  @media (min-width: $laptopScreen) {
    padding-left: 32px;
  }
}
