.swiper::after {
  content: '';
  width: 24px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}

.swiper-pagination {
  position: static;
  margin-top: 16px;
}

.swiper-pagination-bullet-active {
  background-color: #B5B6BC !important;
}

.swiper-pagination-bullet {
  background-color: #7E7E82 !important;
  height: 12px !important;
  width: 12px !important;

}

.swiper-pagination-bullet:not(:first-child) {
  margin-left: 8px !important;
}
