.tech {
  &__title {
    margin-bottom: 16px;
    @media (min-width: $tabletScreen) {
      margin-bottom: 24px;
    }
  }
  &__wrapper {
    @media (min-width: $tabletScreen) {
      height: 160px;
      overflow: hidden;
      flex-wrap: wrap;
      row-gap: 16px;
      justify-content: center;
      width: auto;
      margin-right: 24px;
      @media (min-width: $laptopScreen) {
        padding: 8px;
        margin-right: 32px;
      }
      &--show {
        max-height: 100%;
      }
    }

    &--hidden {
      @media (min-width: $tabletScreen) {
        max-height: 160px;
        overflow: hidden;
      }
    }
  }

  &__read-more {
    display: none;
    @media (min-width: $tabletScreen) {
      display: block;
      margin-left: 32px;
      margin-top: 24px;
    }
    @media (min-width: $laptopScreen) {
      margin-left: 39px;
    }
  }

  &__item {
    flex: 1 0 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    margin-left: 16px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    min-height: 160px;
    transition: all 500ms;

    &:hover {
      border: 1px solid #FF3E79;
    }

    @media (min-width: $tabletScreen) {
      flex-basis: 224px;
      margin-left: 24px;
    }
    @media (min-width: $laptopScreen) {
      margin-left: 32px;
      &:hover {
        transform: scale(1.05);
        border: 1px solid #FF3E79;
      }
    }
  }

  &__text {
    font-family: $font-family--medium;
    font-size: 16px;
    margin: 16px 0 auto 16px;
  }

  &__link {
    position: relative;
    margin-right: 16px;
    margin-top: auto;
    margin-bottom: 16px;
  }
}
